#!/usr/bin/bash -x
#
# {{ ansible_managed }}
###############################################################################

virsh destroy {{ instance_name }}
virsh undefine {{ instance_name }}

if [ ! -e {{ temp_file_path }} ]; then
  qemu-img create -f {{ image_format }} {{ temp_file_path }} 10G
fi

virt-install \
  --virt-type {{ virt_type }} \
  --name {{ instance_name }} \
  --vcpus 1 \
  --ram 1024 \
  --nographics --noautoconsole --noreboot \
  --disk {{ temp_file_path }},format={{ image_format }} \
  --network network=default \
  --os-type=linux --os-variant=rhel7 \
  --location={{ location_url }} \
  --initrd-inject {{ kickstart_file_path }} \
  --extra-args="ks=file:/ks.cfg console=tty0 console=ttyS0,115200n8 serial"

sleep 5

virsh console {{ instance_name }}
virsh start {{ instance_name }}

sleep 120

# converge
cd /root/playbook
ansible-playbook -i hosts/inventory.sh site.yml

# finalize
virsh shutdown {{ instance_name }}
virt-sysprep -d {{ instance_name }}
virt-sparsify --compress {{ temp_file_path }} {{ output_file_path }}
virsh undefine {{ instance_name }}
