# Managed by ansible

install
shutdown
skipx
lang en_US.UTF-8
keyboard us
timezone --utc Asia/Tokyo
logging --level=debug
firstboot --disabled

network --onboot=yes --device=eth0 --bootproto=dhcp --noipv6

rootpw --plaintext password
authconfig --enableshadow --passalgo=sha512

zerombr
bootloader --location=mbr
clearpart --all --initlabel
part / --size=1 --fstype=ext4 --grow --asprimary

selinux --disabled
firewall --disabled

%packages --nobase
%end

%post --log=/root/ks-post.log

yum -y update

# ACPI
yum -y install acpid
systemctl enable acpid

# cloud-init
yum -y install cloud-init cloud-utils cloud-utils-growpart
sed -i "s/^    name: centos$/    name: user/" /etc/cloud/cloud.cfg

# motd
cat << MOTD > /etc/motd

 ___                       _             _
/ _ \ _ __   ___ _ __  ___| |_ __ _  ___| | __
| | | | |_ \ / _ \ |_ \/ __| __/ _ |/ __| |/ /
| |_| | |_) |  __/ | | \__ \ || (_| | (__|   <
\___/| .__/ \___|_| |_|___/\__\__,_|\___|_|\_\\
   |_|
   CentOS-7.2.1511 (`date +%Y-%m-%d`)
   Openstack image

MOTD

for i in 0 1 2 3
do
cat << EOF > /etc/sysconfig/network-scripts/ifcfg-eth$i
DEVICE="eth$i"
BOOTPROTO="dhcp"
IPV6INIT="no"
MTU="1500"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Ethernet"
PEERDNS="no"
EOF
done

cat << EOF > /etc/sysconfig/network
NETWORKING=yes
NOZEROCONF=yes
EOF

cat << EOF > /etc/resolv.conf
nameserver 8.8.8.8
nameserver 8.8.4.4
EOF

%end
